* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.app {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	height: 100vh;
	max-width: 100vw;
}

.app__form {
	display: flex;
	justify-content: center;
	width: 80vw;
	margin: 0 0 30px 0;
	padding: 10px 0 10px 0;
	flex-wrap: wrap;
	position: fixed;
	bottom: 0;
	z-index: 1;
	background-color: #b6b6b6;
	border-radius: 999px;
}

.app__formInput {
	flex: 0.9;
}
.app__formButton {
	/* flex: 0.15; */
	border-radius: 999px !important;
}
.app__formButton:disabled {
	background-color: transparent !important;
}

.app__messages {
	width: 90%;
}

.MuiIconButton-root {
	padding: 0 !important;
}
